* {
    box-sizing: border-box;
    padding: 0;
}

html,
body {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Tahoma, sans-serif;
    font-size: 14px;
}

h2 {
    font-size: 40px;
    margin: 100px 0 15px 0;
    font-style: normal;
    text-transform: uppercase;
}

h4 {
    font-size: 18px;
   padding: 20px 0 10px 0;
}

p {
    color: #777777;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    /* border: 1px solid blanchedalmond; */
    overflow: hidden;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.bg-whight {
    background: #ffffff;
}

.bg-grey {
    background: #f7f7f7;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.row {
    margin: 0;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}


/* SETKA */

.block-639 {
    /* 68% */
    width: 65.5%;
    margin: 0 1.25%;
    float: left;
}

.block-600 {
    width: 60%;
    margin: 0 1.25%;
}

.block-300 {
    /* 32% */
    width: 29.5%;
    margin: 0 1.25%;
    float: left;
}

.block-296 {
    width: 30.83333333%;
    margin: 0 1.25%;
    float: left;
}

.block-900 {
    width: 97%;
    margin: 0 1.25%;
    float: left;
}


/*------------- SETKA----------- */


/*-------------- HEADER------------------- */

.site-header {
    width: 100%;
    background-repeat: no-repeat;
    /* min-height: 100vh; */
    /* height: auto; */
    background-image: linear-gradient( rgba(44, 40, 40, 0.8), rgba(0, 0, 0, 0.5)), url('../images/header_bg.png');
    background-size: 100% 100%;
    color: #ffffff;
}

.header-logo {
    margin: 40px 0 0 0;
}

.header-nav {
    margin-bottom: 180px;
}

.header-nav ul {
    margin: 40px 0;
    float: right;
}

.header-nav ul::after {
    content: "";
    display: block;
    clear: both;
}

.header-nav ul li {
    float: left;
    list-style-type: none;
    text-transform: uppercase;
    display: block;
    margin: 0 20px;
}

.header-nav a {
    color: #ffffff;
    text-decoration: none;
    /* display: block; */
}

.site-header h1 {
    font-size: 75px;
    font-style: normal;
}
.site-headings{
    padding-bottom: 160px;
}
.response-menu{
    display: none;
}

/* .site-header h2 {
    font-size: 40px;
    font-style: normal;
} */


/* BUTTON */

.btn-tell-more {
    color: #ffffff;
    background: #fed136;
    border: none;
    border-radius: 4px;
    padding: 20px 60px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}
div.btn-tell-more{
   margin: 0 auto;
    width: 200px;
    padding: 20px 0;
}
.btn-tell-more:hover {
    cursor: pointer;
}


/* BUTTON */


/* -------------    HEADER--END---------- */


/* -----------SERVICES--BEGIN----- */

.services {
    padding-bottom: 100px;
}

.cart {
    margin: 30px 0 20px 0;
}

.cart img {
    display: block;
    margin: 0 auto;
   
}

.services h2 {
    margin: 100px 0 15px 0;
}


/* -----------SERVICES-END---- */


/* ----------PORTFOLIO----BEGIN */

.portfolio img {
    width: 100%;
}

.portfolio h4, .portfolio p{
    margin: 0;
}

.portfolio .cart {
    padding-bottom: 20px;
}


/* ----------PORTFOLIO----END */


/* ----------ABOUT-US BEGIN--- */
.about-us{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 1.25%;
}
.about-us h4{
    text-transform: uppercase;
    margin: 0 0 25px 0;
}
.about-us-left{
    max-width: 600px;
    display: flex;
   flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
   align-content: flex-start;
   align-items: flex-start;
    margin: 70px 0;
}
.about-us-right{
   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: flex-end;
    margin: 10px 0;
}
.first-flex {
   order: 0;
   flex: 2 0 320px;
   align-self: auto;
    max-width: 320px;
     }
    .second-flex {
        order: 0;
       flex: 1 0 250px;
       align-self: auto;
         }
.about-us-image{
    padding-right: 66px;
}
.our-story{
    margin:70px auto;
    position: relative;
    right: 10px ;
    background: #fed136;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border:  8px solid #f1f1f1;
    padding-top: 34px;
    

   
}
.our-story p{
    color: white;
    font-size: 18px;
}



/* ----------ABOUT-US END--- */

/*------------TEAM BEGIN---------  */
.team .cart {
    margin: 30px 0 20px 0;
}
.team-img{
    width: 83%;
    border-radius: 100%;
    border:  8px solid #f1f1f1;
    
}
.team-description {
width: 55%;
margin: 50px auto 50px auto;
}

.ico-row img{
    display: inline-block;
    width: 15%;
}
.social{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 5px;
}
.social img{
width: 100%;
}
 .twitter a img.last-tw, .facebook a img.last-fb, .pinterest img.last-pin, .google img.last-goo{
    display: none;  
  }
  .twitter:hover img.last-tw,  .facebook:hover  img.last-fb, .pinterest:hover  img.last-pin, .google:hover img.last-goo{
     display: inline-block;   
  }
  .twitter:hover img.first-tw, .facebook:hover img.first-fb, .pinterest:hover img.first-pin, .google:hover img.first-goo{
    display: none;  
  } 
.team h4{
    margin: 0;
}
.team .cart p{
margin-top: 0;
}

/*------------TEAM END---------  */

/* -----------PARTNERS BEGIN----- */
.partners .envato-img,.partners .wordpress-img,.partners .microlancer-img{
   width: 20%;
  margin: 50px 1.09375%;
}
.tuts-img{
    width: 15%;
    margin: 50px 1.09375%;
   
}
/* -----------PARTNERS END----- */

/* -----------CONTACT-US-BEGIN----*/
.contact-us{
    background-image:url('../images/form-background.png') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.contact-us h2{
    color: #ffffff;
}
.contact-us form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    margin: 70px 3% 10px 3%;
    min-height: 205px;
  
}
.contact-us form input{
    border-radius: 3px;
    border:  none;
}
input::placeholder, textarea::placeholder
 { 
     color: #bbbbbb;
    font-weight: bold;

} 
.contact-us .person-info{
     order: 0;
    flex: 1 1 auto;
    align-self: auto;
    display: flex;
    flex-direction: column;
    margin-right: 3%;
  }
  .contact-us .person-info input{
      max-width: 100%;
      margin-bottom: 20px;
      padding: 20px 15px;
     
  }
.contact-us .message{
    order: 0;
    flex: 1 1 auto;
    align-self: auto;

}
.contact-us .message textarea{
    width: 100%;
    height: 205px;
    padding: 20px 15px;
}
.contact-us form .submit{
   width: 100%;
   text-align: center;
  
}   
/* --------footer----begin */
.site-footer .icons-row{
padding: 70px 0 30px 50px;
}
.site-footer p{
    padding-top: 77px;
}
/* -------------Responsive Styles---------- */
.response-menu{
    width: 250px;
    height: 35px;
    position: fixed;
    right: -216px;
    top: 0;
    z-index: 2;
    transition: all ease 0.5s;
    cursor: pointer;
    overflow: hidden;
}
.response-menu ul{
    padding-left: 50px ;
    padding-top: 45px;
}
.response-menu ul  *{
    text-decoration: none;
    color: #fff;
    list-style: none;
    margin: 10px 0;
    font-size: 20px;
}

.response-menu:hover{
    right: 0;
    bottom: 0;
    background-color: #272727 ; 
    height: auto;
      
}
.response-menu::after{
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background: url('../images/menu.png');
    position: absolute;
    left: 1px;
    top: 1px;
}
.response-menu ul li{
    padding: 8px 0 8px 10px;
    margin-bottom: 5px;
   
}
.response-menu ul li:hover{
    background: #606e79;
    border: 1px solid #e2e0e0;
}
@media screen and (max-width: 800px)
{
    .header-nav{
        display: none;
    }
    .response-menu{
        display: block;
    }
    .header-logo{
        margin-top: 5px;
    }
    .services h2 {
        margin: 70px 0 15px 0;
    }
}
@media screen and (max-width: 570px)
{
    .md-headings{
        margin: 0 1.25%;
    }
    .site-header h1 {
        font-size: 65px;
        font-style: normal;
        margin: 30px 0 25px 0;
    }
    .site-header h2 {
        font-size: 32px;
        margin-top: 50px;
    }
    .site-headings{
        padding-bottom: 95px;
    }
    .about-us{
        margin: 0 1.25%;
    }
    .about-us-left{
        flex-wrap: wrap-reverse;
        justify-content: center;
        margin-bottom: 40px;
        margin-top: 30px;
    }
    .about-us-right{
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-us-img{
        text-align: center;
     
    }
    .about-us-image{
        padding-right: 0;
    }
    .about-us-description {
        
         margin: 20px 1.25% 0 1.25%;
         text-align: center;
    }
    .about-us-description h4{
        text-align: center;
    }
    .first-flex{
        max-width: 100%;
    }
    .md-50p{
        margin: 0 1.25%;
        width: 47.5%;
    }
    .md-100p{
        margin: 0 1.25%;
        width: 97.5%;
    }
    .contact-us form{
       margin-top: 40px;
    }
    
    h2{
        margin: 60px 0 15px 0;
        
    }
     .services {
        padding-bottom: 10px;
    }
    .contact-us .submit{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .img-175{
        width: 200px;
        height: 200px;
    }
    .ico-row img{
        width: 41px;
    }
    .team .cart h4{
       margin: 0;
    }
    .team-description{
        width:90%;
        margin-top: 0;
    }
  
}
@media screen and (max-width: 460px){
    .sm-100p{
        max-width: 0 1.25%;
        width: 97.5%;
    }
    .sm-text-center{
        text-align: center;
    }
    .sm-50p{
        margin: 0 1.25%;
        width: 47.5%;
    }
    .mt-none{
        margin: 0;
    }
    .site-header h1 {
        font-size: 44px;
        font-style: normal;
        margin: 30px 0 25px 0;
    }
    .site-header h2 {
        font-size: 28px;
        margin-top: 50px;
    }
    .site-headings{
        padding-bottom: 50px;
    }
   
    h2, .services h2{
        margin: 40px 0 15px 0;
        font-size: 28px;
    }
    .contact-us .person-info{
          flex: 1 1 100%;
          margin-right: 0;
    
     }
    
   
   
}



